<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - WebApp</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">  
</head>
    <body>
        <div id="form-ui">
            <form action="" method="post" id="login_form">
                <div id="form-body">
                    <div id="welcome-lines">
                        <div id="welcome-line-1">
                            DevBook
                            <!-- <img class="img_logo" src="/assets/imgs/logo.png" alt=""> -->
                        </div>
                        <div id="welcome-line-2">Welcome Back, User</div>
                    </div>
                    <div id="input-area">
                        <div class="form-inp">
                            <input placeholder="Digite seu endereço de Email" type="text" name="email" id="email" required="required">
                        </div>
                        <div class="form-inp">
                            <input placeholder="Digite sua Senha" type="password" name="password" id="password" required="required">
                        </div>
                    </div>
                    <div id="submit-button-cvr">
                        <button id="submit-button" type="submit">Login</button>
                    </div>
                    <div id="forgot-pass">
                        <a href="/register">Deseja se Cadastrar?</a>
                    </div>
                </div>
            </form>
        </div>
        {{ template "scripts" }}
        <script src="/assets/js/login.js"></script>
    </body>
</html>