<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Atualizar Senha</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>
    {{template "header" .}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualização de Senha</h3>
                <form id="update-password" data-user-id="{{.}}">
                    <div class="form-group">
                        <label for="name">Senha Atual</label>
                        <input type="password" class="form-control" id="actual-pass" name="actual-pass"
                            placeholder="Insira sua senha Atual" required="actual-pass">
                    </div>
                    <div class="form-group">
                        <label for="name">Nova Senha</label>
                        <input type="password" class="form-control" id="new-pass" name="new-pass"
                            placeholder="Insira sua Nova senha" required="new-pass">
                    </div>
                    <div class="form-group">
                        <label for="name">Confirmar Nova Senha</label>
                        <input type="password" class="form-control" id="conf-new-pass" name="conf-new-pass"
                            placeholder="Confirme sua Nova senha" required="conf-new-pass">
                    </div>
                    <button type="submit" class="btn btn-info">Salvar</button>
            </div>
            </form>
        </div>
    </div>
    </div>
    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/user.js"></script>
</body>

</html>