{{ define "likes" }}
<i class="fa-regular fa-heart like_post" style="cursor: pointer; text-decoration: none; color: rgb(27, 25, 25);"></i>
<span>{{ .Likes }}</span>
{{ end }}

{{ define "edit" }}
<a href="posts/{{ .Id }}/edit" style="text-decoration: none;">
    <i class="fa-regular fa-pen-to-square"></i>
</a>
{{ end }}

{{ define "delete" }}
<i class="fa-solid fa-trash deletePost" style="cursor: pointer;"></i>
{{ end }}

{{ define "postHeader" }}
<a href="/users/{{.Autor_id}}"> {{ .Autor_nick }} - {{.Created_in.Format "02/01/2006"}} </a>
<h1 class="display-4">{{ .Title }}</h1>
<p class="lead">{{ .Content }}</p>
<hr class="my-4">
{{ end }}

{{ define "userPost" }}
<div class="jumbotron" data-post-id="{{ .Id }}">
    {{ template "postHeader" . }}
    <p>
        {{ template "likes" . }}
        {{ template "edit" . }}
        {{ template "delete" . }}
    </p>
</div>
{{ end }}

{{ define "othersPost" }}
<div class="jumbotron" data-post-id="{{ .Id }}">
    {{ template "postHeader" . }}
    <p>
        {{ template "likes" . }}
    </p>
</div>
{{ end }}